html
	head
		title=title
	link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
 rel='stylesheet')
	block scripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
	body
		nav.navbar.navbar-inverse
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href="#") #{title}
				ul.nav.navbar-nav(activeLink)
					li
						a(id="home" href="/") @Home
					li
						a(id="restaurants" href="/who") @MyRestaurants
					
		block content